@charset "UTF-8";

/*
Tudo que em HTML é id em css é #
Tudo que em HTML é class em css é .
*/

body{
    background-color: aqua;
    font-family: sans-serif;

}

h1{
    color: blue;
}

h1#principal{
    text-align: center;
}

.basico{
    color: brown;
}

.intermediario{
    color: black
}

.avancado{
    color:red
}
h2{
    color: green;
}